<ul class="projects">
  <li>
    <a href={{"cmdrlog.html" | relative_url }}>
      CMDRLog (Rails)
    </a>
  </li>
  <li>
    <a href={{"collisterator.html" | relative_url }}>
      Collisterator (Rails)
    </a>
  </li>
  <li>
    <a href={{"inferno.html" | relative_url}}>
      Inferno (Phoenix)
    </a>
  </li>
  <li>
    <a href={{"roman.html" | relative_url}}>
      RomanDate (Erlang)
    </a>
  </li>
  <li>
    <a href={{"viola" | relative_url }}>
      Viola (Rust)
    </a>
  </li>
</ul>
